.team-wrapper{
    border-style: groove;
    border-width: 1px;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-top: 6%;
}

.dropdown-team{
    /* position: relative;
    bottom: 50px; */
}
.filter-button{
    position: absolute;
    top: 46px;
    border: 1px solid gray
}
.filter-row{
   margin-top:3%;
   width: 48%;
   margin-left: 0%;
}
.select-team-btn, .year-button ,.show-btn{
    color: #000000;
    background-color: #ffffff;
}

.select-team-btn:hover, .year-button:hover ,.show-btn :hover{
    color: #000000;
    background-color: rgb(221, 221, 221);
}
.mod-cont{
    position: absolute;
}
#modal-table-body input{
    border-style: none;
}
.table td, .table th {
    min-width: 10px;
    max-width: 103px;
}
.table td input {
    max-width: 100%;
}
.team-name{
    text-align: center;
    margin-bottom: 0%;  
}
.header-name{
    background-color: #e8e7e7
}
.content-to-clone{
    margin-top: 5%;
    padding: 0%;
}

.team-table td {
    padding: 0px;
    max-width: 55px;
    padding-left: 1%;
    text-align: center
    
}
.team-table input{
    background-color: inherit;
    border-style: none;
    text-align: center
}
.modal-body-input input{
    background-color: inherit;
    border-style: none;
}

.header-elm th{
    padding: 0%;
    text-align: center;
}
.save-change{
    background-color: #f2f2f2;
    color: #000;
    border-color: #aba8a8;
}